*.apk
*.ap_
*.dex
*.class
bin/
gen/
target/
build/
**/*.project
**/*.classpath
local.properties
.gradle
build.xml
*~
.metadata
.settings
.idea
*.iml
gen-external-apklibs
out
contributers.py
captures
*.odg#
proguard
libs
*.DS_Store
gradle.properties
*.keystore
*.p12
.vscode
.cursor
*.hprof
.kotlin
