<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.danoeh.antennapod"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name="de.danoeh.antennapod.PodcastApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock.Light.ForceOverflow" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/StyledIndicators" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.danoeh.antennapod.activity.AddFeedActivity"
            android:label="@string/add_new_feed_label" >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.danoeh.antennapod.activity.FeedItemlistActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="de.danoeh.antennapod.activity.ItemviewActivity" />
        <activity
            android:name="de.danoeh.antennapod.activity.DownloadActivity"
            android:label="@string/downloads_label" />
        <activity
            android:name="de.danoeh.antennapod.activity.MediaplayerActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MediaPlayer" />

        <service
            android:name="de.danoeh.antennapod.service.DownloadService"
            android:enabled="true" />
        <service
            android:name="de.danoeh.antennapod.service.PlaybackService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".activity.PreferenceActivity"
            android:label="@string/settings_label" >
        </activity>
        <activity
            android:name=".activity.DownloadLogActivity"
            android:label="@string/download_log_label" >
        </activity>

        <receiver android:name=".receiver.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.danoeh.antennapod.NOTIFY_BUTTON_RECEIVER" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.FeedInfoActivity" >
        </activity>

        <service
            android:name=".service.PlayerWidgetService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".receiver.PlayerWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.danoeh.antennapod.FORCE_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/player_widget_info" />
        </receiver>
        <receiver android:name=".receiver.FeedUpdateReceiver" >
            <intent-filter>
                <action android:name="de.danoeh.antennapod.feedupdatereceiver.refreshFeeds" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.StorageErrorActivity" >
        </activity>
        <activity
            android:name=".activity.FlattrAuthActivity"
            android:label="@string/flattr_auth_label" >
            <intent-filter>
                <action android:name=".activities.FlattrAuthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="de.danoeh.antennapod"
                    android:scheme="flattr4j" />
            </intent-filter>
        </activity>
    </application>

</manifest>