<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.danoeh.antennapod"
    android:versionCode="20"
    android:versionName="0.9.5.3" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:name="de.danoeh.antennapod.PodcastApp"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock.Light.ForceOverflow" >
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/StyledIndicators" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.SearchActivity" />
        </activity>
        <activity
            android:name="de.danoeh.antennapod.activity.AddFeedActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/add_new_feed_label"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.danoeh.antennapod.activity.FeedItemlistActivity"
            android:configChanges="orientation|screenSize" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.SearchActivity" />
        </activity>
        <activity
            android:name="de.danoeh.antennapod.activity.ItemviewActivity"
            android:configChanges="keyboard|orientation" />
        <activity
            android:name="de.danoeh.antennapod.activity.DownloadActivity"
            android:label="@string/downloads_label" />
        <activity
            android:name=".activity.AudioplayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MediaPlayer" />

        <service
            android:name=".service.download.DownloadService"
            android:enabled="true" />
        <service
            android:name="de.danoeh.antennapod.service.PlaybackService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".activity.PreferenceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/settings_label" >
        </activity>
        <activity
            android:name=".activity.DownloadLogActivity"
            android:label="@string/download_log_label" >
        </activity>

        <receiver android:name=".receiver.MediaButtonReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.danoeh.antennapod.NOTIFY_BUTTON_RECEIVER" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.FeedInfoActivity" >
        </activity>

        <service
            android:name=".service.PlayerWidgetService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".receiver.PlayerWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.danoeh.antennapod.FORCE_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/player_widget_info" />

            <intent-filter>
                <action android:name="de.danoeh.antennapod.STOP_WIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.FeedUpdateReceiver" >
            <intent-filter>
                <action android:name="de.danoeh.antennapod.feedupdatereceiver.refreshFeeds" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.StorageErrorActivity" >
        </activity>
        <activity
            android:name=".activity.FlattrAuthActivity"
            android:label="@string/flattr_auth_label" >
            <intent-filter>
                <action android:name=".activities.FlattrAuthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="de.danoeh.antennapod"
                    android:scheme="flattr4j" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_pref"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.OpmlImportActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/opml_import_label" >
        </activity>
        <activity
            android:name=".activity.OpmlFeedChooserActivity"
            android:label="@string/opml_import_label" >
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/search_results_label"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.SearchActivity" />
        </activity>
        <activity
            android:name=".activity.MiroGuideMainActivity"
            android:label="@string/miro_guide_label" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.MiroGuideSearchActivity" />
        </activity>
        <activity
            android:name=".activity.MiroGuideSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/miroguide_searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.MiroGuideSearchActivity" />
        </activity>
        <activity
            android:name=".activity.MiroGuideCategoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name=".activity.MiroGuideChannelViewActivity"
            android:configChanges="keyboard|orientation"
            android:label="@string/miro_guide_label" >
        </activity>
        <activity
            android:name=".activity.VideoplayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/VideoplayerTheme" >
        </activity>
        <activity android:label="@string/playback_history_label" android:name=".activity.PlaybackHistoryActivity"></activity>
    </application>

</manifest>