# Add project specific ProGuard rules here.

# Keep Kotlin metadata
-keep class kotlin.metadata.** { *; }

# Keep Compose runtime
-keep class androidx.compose.runtime.** { *; }

# Keep Activity
-keep class androidx.activity.** { *; }
-keep class androidx.activity.compose.** { *; }
