name: Android Emulator test

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '8'
    - name: Wrapper validation
      uses: gradle/wrapper-validation-action@v1
    - name: Build with Gradle
      run: ./gradlew assemblePlayDebugAndroidTest
    - name: Android Emulator test
      uses: ReactiveCircus/android-emulator-runner@v2
      with:
        api-level: 28
        disable-animations: true
        script: zsh .github/workflows/runTests.sh
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: test-report
        path: app/build/reports/androidTests/connected/flavors/PLAY/
