name: Checks

on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  push:
    branches: [ master, develop ]

jobs:
  wrapper-validation:
    name: "Gradle Wrapper Validation"
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v5
      - uses: gradle/actions/wrapper-validation@v5

  static-analysis:
    name: "Static Code Analysis"
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
      - name: Configure parallel build
        run: echo "org.gradle.parallel=true" >> local.properties
      - name: XML code style
        run: |
          curl -s -L https://github.com/ByteHamster/android-xml-formatter/releases/download/1.1.0/android-xml-formatter.jar > android-xml-formatter.jar
          find . -wholename "*/res/layout/*.xml" | xargs java -jar android-xml-formatter.jar
          test $(git diff | wc -l) -eq 0 || (echo -e "\n\n===== Found XML code style violations! See output below how to fix them. =====\n\n" && git --no-pager diff --color=always && false)
      - name: Checkstyle, Lint, SpotBugs
        run: ./gradlew checkstyle :app:lintPlayDebug spotbugsPlayDebug spotbugsDebug
      - name: Generate readable error messages for GitHub
        if: failure()
        run: |
          git diff --name-only | xargs -I '{}' echo "::error file={},line=1,endLine=1,title=XML Format::Run android-xml-formatter.jar on this file or view CI output to see how it should be formatted."
          python .github/workflows/errorPrinter.py
          false

  unit-test:
    name: "Unit Test: ${{ matrix.variant }}"
    needs: static-analysis
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      matrix:
        include:
          - variant: "PlayDebug"
            base-variant: "Debug"
            execute-tests: true
            upload-artifact: true
          - variant: "PlayRelease"
            base-variant: "Release"
            execute-tests: true
            upload-artifact: false
          - variant: "FreeRelease"
            base-variant: "Release"
            execute-tests: false
            upload-artifact: false
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
      - name: Configure parallel build
        run: echo "org.gradle.parallel=true" >> local.properties
      - name: Create temporary release keystore
        run: keytool -noprompt -genkey -v -keystore "app/keystore" -alias alias -storepass password -keypass password -keyalg RSA -validity 10 -dname "CN=antennapod.org, OU=dummy, O=dummy, L=dummy, S=dummy, C=US"
      - name: Build
        run: ./gradlew assemble${{ matrix.variant }}
      - name: Test
        if: matrix.execute-tests == true
        run: ./gradlew test${{ matrix.variant }}UnitTest test${{ matrix.base-variant }}UnitTest
      - uses: actions/upload-artifact@v4
        if: matrix.upload-artifact == true
        with:
          name: app-play-debug.apk
          path: app/build/outputs/apk/play/debug/app-play-debug.apk

  emulator-test:
    name: "Emulator Test API ${{ matrix.version.api-level }}"
    needs: static-analysis
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      matrix:
        version:
          - api-level: 21
            target: default
          - api-level: 30
            target: aosp_atd
          - api-level: 34
            target: aosp_atd
    steps:
      - name: Remove unused packages to save space
        run: sudo apt-get remove firefox google-chrome-stable microsoft-edge-stable snapd powershell azure-cli llvm-16 llvm-17 llvm-18 llvm-16-dev llvm-17-dev llvm-18-dev
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
      - name: Configure parallel build
        run: echo "org.gradle.parallel=true" >> local.properties
      - name: Build with Gradle
        run: ./gradlew assemblePlayDebugAndroidTest
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Android Emulator test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.version.api-level }}
          target: ${{ matrix.version.target }}
          arch: x86_64
          channel: canary
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: bash .github/workflows/runEmulatorTests.sh
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-report
          path: app/build/reports/androidTests/

  ci-summary:
    name: "CI Summary"
    needs:
      - wrapper-validation
      - emulator-test
      - unit-test
    runs-on: ubuntu-latest
    steps:
      - run: echo "All checks passed"
