name: PR Conventions

on:
  pull_request:
    types: [ opened, synchronize, reopened, edited, labeled, unlabeled ]

jobs:
  pr-title:
    name: "Title"
    runs-on: ubuntu-latest
    steps:
      - name: Prevent issue reference in title
        uses: actions/github-script@v7
        with:
          script: |
            const issueRegex = /#\d+/i;
            if (issueRegex.test(context.payload.pull_request.title)) {
              core.setFailed("Please mention the issue number in the PR description, not in the title. Make sure to write 'closes: #<number>'.");
            }
